h1 {
  font-size: 5rem;
  font-weight: 600;
  span {
    display: block;
    font-size: 4.2rem;
    @media (max-width: 1050px) {
      font-size: 4rem;
    }
    @include breakpoint(sm) {
      font-size: 3.6rem;
      margin-top: 5px;
    }
    @media (max-width: 767px) {
      font-size: 3rem;
    }
    @include breakpoint(xxs) {
      font-size: 2.4rem;
    }
  }
  @include breakpoint(sm) {
    font-size: 4.6rem;
  }
  @include breakpoint(xs) {
    font-size: 4rem;
  }
  @include breakpoint(xxs) {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 4.2rem;
  font-weight: 600;
  text-align: left;
  margin: 0 0 70px;
  @include breakpoint(xs) {
    font-size: 3rem;
    margin: 0 0 30px;
    text-align: center;
  }
}

h3 {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: left;
  @include breakpoint(xs) {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 2rem;
}

p {
  line-height: 1.4;
  font-size: 1.6rem;
}
